.subform-title-container {
  display: flex;
  align-items: center;
  clear: both;
  margin-top: 40px;
  justify-content: space-between;
}

#block-gin-content form .js-form-type-textarea.form-type--textarea {
  margin-top: 43px;
  margin-bottom: 85px;
}
#block-gin-content
  form
  .js-form-type-textarea.form-type--textarea:last-of-type {
  margin-top: 43px;
  margin-bottom: 65px;
}
.subform-title-container-assessment {
  display: flex;
  align-items: center;
  clear: both;
  margin-top: 100px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.subform-title-container-assessment h2 {
  font-size: 22px;
}

form#range-assessments-form.range-assessments-form {
  padding-top: 0px;
  padding-bottom: 3px;
}

.subform-title-container.assessment-top-spacing {
  margin-top: 26px;
  margin-bottom: 31px;
}

.form-item:last-of-type {
  margin-bottom: 64px !important;
}
