@import "variables";
.subform-title-container {
  display: flex;
  align-items: center;
  clear: both;
  margin-top: 40px;
  justify-content: space-between;
}

#block-gin-content form .js-form-type-textarea.form-type--textarea {
  margin-top: 43px;
  margin-bottom: 85px;
  &:last-of-type {
    margin-top: 43px;
    margin-bottom: 65px;
  }
}

.subform-title-container-assessment {
  display: flex;
  align-items: center;
  clear: both;
  margin-top: 100px;
  margin-bottom: 10px;
  justify-content: space-between;
  h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    flex: 50%;
  }

  h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  
}

form#range-assessments-form.range-assessments-form {
  padding-top: 0px;
  padding-bottom: 3px;
}

.subform-title-container.assessment-top-spacing {
  margin-top: 26px;
  margin-bottom: 31px;
}

.form-item:last-of-type {
  margin-bottom: 64px !important;
}
