#block-gin-content form .subform-title-container h4{
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

#block-gin-content form .subform-title-container{
    display: flex;
    align-items: center;
	clear: both;
	margin-top: 40px;
}
.subform-title-container {
    display: flex;
    align-items: center;
    clear: both;
    margin-top: 40px;
	justify-content: space-between;
}

.fieldset__label, .fieldset__label--group, .form-item__label {
	font-weight: normal !important; 
}

#block-gin-content form .remove-button-container input{
	margin-bottom: 0px;
	color: white;
	background-color: #d83933;
	border-color: #d83933 !important;
}

#block-gin-content form .remove-button-container input:hover{
	background-color: #b51d09;
	border-color: #b51d09 !important;
}

input#edit-send {
    background-color: #005ea2;
    border-radius: 2px;
    border-color: #005ea2 !important;
    padding: 12 20 12 20 !important;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

input#edit-save {
    background-color: #ffffff;
    border-radius: 2px;
    border-color: #005ea2 !important;
    padding: 12 20 12 20;
    color: #005ea2;
    font-weight: 600;
    font-size: 16px;
}
input#edit-cancel {
    background-color: #ffffff;
    border-radius: 2px;
    border-color: #005ea2 !important;
    padding: 12 20 12 20;
    color: #005ea2;
    font-weight: 600;
    font-size: 16px;
}
input#edit-delete {
	background-color: #d83933;
	border-radius: 2px;
	border-color: #d83933 !important;
	padding: 12 20 12 20;
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;
}

input#edit-identify-resource-concerns {
	background-color: #005ea2;
    border-radius: 2px;
    border-color: #005ea2 !important;
    padding: 12 20 12 20 !important;
    color: white;
    font-weight: 600;
    font-size: 16px;
}