#block-gin-content {
  max-width: 688px;
  margin-left: auto;
  margin-right: auto;
}
#block-gin-content .awardee-dashboard-form {
  background-color: #f7fbfa;
  box-shadow: none;
  border: none;
  margin-top: -59px;
}
#top-form {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #dcdee0;
  border-radius: 4px;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 66px;
  padding-right: 66px;
  min-height: 160px;
}
#top-form #edit-create-new {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: white !important;
  background-color: #005ea2;
  margin-right: 120px;
  border-radius: 4px;
}
select.form-select.form-element.form-element--type-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23ffffff'/%3e%3c/svg%3e") !important;
}
select#edit-create-new.form-select.form-element.form-element--type-select
  option {
  background-color: #fff !important;
}
.bottom-form {
  background-color: #fff;
  border: 1px solid #dcdee0;
  border-radius: 4px;
  margin-top: 30px;
  padding-left: 66px;
  padding-right: 66px;
  padding-bottom: 29px;
  margin-left: -24px;
  margin-right: -24px;
}
#form-subtitle {
  margin-top: 34px;
}
.bottom-form .button.js-form-submit {
  color: #005ea2;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid #005ea2 !important;
}
.bottom-form .button.js-form-submit:hover {
  background-color: #ffffff;
  color: #005ea2;
  font-size: 16px;
  font-weight: 600;
}
.bottom-form .button.js-form-submit:focus {
  background-color: #ffffff;
  box-shadow: none;
  color: #005ea2;
  font-size: 16px;
  font-weight: 600;
}
