@import "variables";
#block-gin-content {
  max-width: 688px;
  margin-left: auto;
  margin-right: auto;
  .pods-dashboard-form {
    background-color: #f7fbfa;
    box-shadow: none;
    border: none;
    margin-top: -59px;
  }
}
#top-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #dcdee0;
  border-radius: 4px;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 66px;
  padding-right: 66px;
  min-height: 160px;
  #edit-create-new {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: white !important;
    background-color: $sub-blue;
    margin-right: 120px;
    border-radius: 4px;
  }
}

select.form-select.form-element.form-element--type-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23ffffff'/%3e%3c/svg%3e") !important;
}
.middle-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #dcdee0;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 66px;
  padding-right: 66px;
  min-height: 160px;
  #grape {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: white !important;
    background-color: $sub-blue;
    margin-right: 120px;
    border-radius: 4px;
    padding: 15px;
  }
  #collapse{
    max-width: 50%;
  }
}
select.form-select.form-element.form-element--type-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23ffffff'/%3e%3c/svg%3e") !important;
}
.bottom-form {
  background-color: #fff;
  border: 1px solid #dcdee0;
  border-radius: 4px;
  margin-top: 30px;
  padding-left: 66px;
  padding-right: 66px;
  padding-bottom: 29px;
  margin-left: -24px;
  margin-right: -24px;
  
  .button.js-form-submit {
    color: $sub-blue;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 2px solid $sub-blue !important;
    &:hover {
      background-color: #ffffff;
      color: $sub-blue;
      font-size: 16px;
      font-weight: 600;
    }
    &:focus {
      background-color: #ffffff;
      box-shadow: none;
      color: $sub-blue;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

#title {
  font-size: 32px;
  font-weight: 500;
  color: #1b1b1b;
  margin-left: -25px;
  margin-bottom: 10px;
}

.usa-banner__inner {
  max-width: 42rem;
}

.usa-navbar {
  max-width: 42rem !important;
}

.usa-banner__content {
  padding: 0.25rem 1rem 1rem 0.5rem;
}

.grid-row.grid-gap-lg {
  width: 42rem;
}

.usa-banner__guidance.tablet\:grid-col-6 {
  width: 21rem;
}

.small-question {
  margin-left: 5px;
}

.small-question sup {
  border: 2px solid #000;
  border-radius: 52px;
  width: 13px;
  display: inline-block;
  padding-left: 5px;
  font-size: 16px;
}
[hidden] {
  display: none !important;
}

span#grape {
  cursor: pointer;
}