#cost_rotation {
  display: flex;
  align-items: center;
}

#cost_rotation div[class*="field-cost"] {
  width: 30.2%;
  margin-right: 1.3%;
}

#cost_rotation div[class*="field-cost-type"] {
  width: 30.2%;
  margin-right: 18px;
}

input#edit-actions-save-refresh.button {
  background-color: #ffffff;
  border-radius: 4px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
}
input#edit-addcost:hover,
input#edit-actions-save-refresh:hover {
  background-color: #005ea2 !important;
  color: white !important;
  border-color: #005ea2 !important;
  margin-bottom: 50px;
}

form#inputform input[id*="edit-addcost"] {
  background-color: #ffffff;
  margin-top: 10px !important;
  border-radius: 4px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 50px;
}

form#inputform input#edit-addcost.button .button:not(:focus) {
  background-color: #ffffff;
  border-radius: 4px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
}
#cost_rotation input[id*="actions-delete"] {
  margin-bottom: 0px;
  margin-top: -12px;
  background-color: #da3737;
  border-radius: 4px;
  border-color: #da3737 !important;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}

#cost_sequence > div:last-of-type > input {
  margin-top: 26px !important;
}

#cost_sequence > div:last-of-type > div {
  margin-bottom: 0px !important;
}

select#edit-field-unit.form-select.form-element.form-element--type-select {
  width: 225px !important;
}

input#edit-field-cost-per-unit.form-number.form-element.form-element--type-number {
  width: 320px !important;
  margin-right: 8px;
}

select#edit-field-custom-application-unit.form-select.form-element.form-element--type-select {
  width: 320px !important;
}

#cost-per-unit {
  display: flex;
}

#block-gin-content form select[name="field_input"].form-element {
  width: 415px !important;
  margin-right: 8px;
}
#input-input {
  display: flex;
  margin-top: 0px;
}

span#input-input {
  margin-top: -5px;
  margin-bottom: -5px;
}
.spacer1 {
  height: 80px;
}
.spacer2 {
  height: 3px;
}
.spacer3 {
  height: 68px;
}
.spacer4 {
  height: 7px;
}
div#other-costs-spacer {
  margin-top: 68px;
  margin-bottom: 7px;
}
form#inputform.inputform {
  padding-top: 0px;
  padding-bottom: 3px;
}

.subtitle-container.section1-subheading {
  margin-top: 25px;
  margin-bottom: 24px;
}

.subtitle-container.second-section-subheader-spacer {
  margin-top: 105px;
  margin-bottom: 30px;
}

.subtitle-container.third-section-subheader-spacer {
  margin-top: 65px;
  margin-bottom: 30px;
}
