div#block-gin-content {
  width: 688px;
  margin: auto;
}

#block-gin-content form .form-element {
  width: 648px;
  border: 1px solid #1b1b1b;
  border-radius: 0;
}

#block-gin-content form .subtitle-container {
  display: flex;
  align-items: center;
  clear: both;
  margin-top: 23px;
  margin-bottom: 30px;
}

#block-gin-content form .subtitle-container-custom-app {
  display: flex;
  align-items: center;
  clear: both;
  margin-top: 23px;
  margin-bottom: 4px;
}

#block-gin-content form .subtitle-container-custom-app h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  flex: 50%;
}

#block-gin-content form .subtitle-container-custom-app h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

#block-gin-content form .subtitle-container-costs {
  display: flex;
  align-items: center;
  clear: both;
  margin-top: 3px;
  margin-bottom: 7px;
}

#block-gin-content form .subtitle-container-costs h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  flex: 50%;
}

#block-gin-content form .subtitle-container-costs h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

#block-gin-content form .title-container h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  margin-top: 0px;
}

#block-gin-content form .subtitle-container h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  flex: 50%;
}

#block-gin-content form .subtitle-container h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

#input-input {
  display: flex;
  margin-top: 0px;
}

#input-input div {
  margin-top: 14px;
  margin-bottom: 18px;
}

select#edit-field-input.form-select.form-element.form-element--type-select {
  width: 407px;
  margin-right: 8px;
}

select#edit-field-unit.form-select.form-element.form-element--type-select {
  width: 225px;
}

input#edit-field-cost-per-unit.form-number.form-element.form-element--type-number {
  width: 407px;
  margin-right: 8px;
}

select#edit-field-custom-application-unit.form-select.form-element.form-element--type-select {
  width: 225px;
}

#cost-per-unit {
  display: flex;
}

#other-costs {
  display: flex;
  margin-bottom: -14px;
}

select#edit-cost.form-select {
  width: 315px;
  margin-right: 8px;
}
select#edit-contact-type.form-select {
  width: 315px;
}

#block-gin-content form .inline-components {
  float: left;
  width: 315px;
  margin-right: 8px;
  margin-bottom: 0px;
}

#block-gin-content form .inline-components-short {
  float: left;
  width: 205px;
  margin-right: 8px;
  margin-bottom: 0px;
}

.operation-description h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.operation h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 41px;
}

input#edit-field-input-date {
  margin-bottom: 20px;
}

select#edit-field-input-category {
  margin-bottom: 0px;
}

#block-gin-content form .remove-button-container {
  display: inline-block;
  margin-top: 30px;
}

#block-gin-content form .remove-button-container input {
  margin-bottom: 0px;
  color: white;
  background-color: #d83933;
  border-color: #d83933 !important;
}

#block-gin-content form .remove-button-container input:hover {
  background-color: #b51d09;
  border-color: #b51d09 !important;
}

#block-gin-content form #addmore-button-container input {
  margin: 0 0 0 0;
  background-color: #ffffff;
  color: #005ea2;
  border-color: #005ea2 !important;
  border-radius: 2px;
}

#block-gin-content form #addmore-button-container input:hover {
  background-color: #005ea2 !important;
  color: white !important;
  border-color: #005ea2 !important;
  border-radius: 2px;
}

input#edit-actions-save.button {
  background-color: #ffffff;
  border-radius: 2px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
}

#cost_rotation {
  display: flex;
  align-items: center;
}

#cost_rotation div[class*="field-cost"] {
  width: 30.2%;
  margin-right: 1.3%;
}

#cost_rotation div[class*="field-cost-type"] {
  width: 30.2%;
  margin-right: 18px;
}

form#inputform input#edit-addcost.button {
  background-color: #ffffff;
  border-radius: 2px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
}

#cost_rotation input[id*="actions-delete"] {
  margin-top: 40px;
  background-color: #da3737;
  border-radius: 2px;
  border-color: #005ea2 !important;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}

input#edit-actions-cancel.button {
  background-color: #ffffff;
  border-radius: 2px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
}

input#edit-actions-save-refresh.button {
  background-color: #ffffff;
  border-radius: 2px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
}

input#edit-actions-save:hover,
input#edit-actions-cancel:hover,
input#edit-actions-save-refresh:hover {
  background-color: #005ea2 !important;
  color: white !important;
  border-color: #005ea2 !important;
}

input#edit-actions-delete.button {
  background-color: #da3737;
  border-radius: 2px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}

input#edit-actions-delete:hover {
  border-width: thick;
  border-color: #005fa2;
  background: #b51d09;
  color: white;
}
