div#block-gin-content {
  width: 920px;
  margin: auto;
}

#block-gin-content form .subtitle-container {
  display: flex;
  align-items: center;
  clear: both;
  margin-top: 60px;
  margin-bottom: 30px;
}

#block-gin-content form .subtitle-container h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  flex: 50%;
}

#block-gin-content form .subtitle-container h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
