#block-gin-content {
  width: 688px;
  margin: auto;
}

#block-gin-content form .form-element {
  width: 648px;
  border: 1px solid #1b1b1b;
  border-radius: 0;
}

form#lab-test-profiles-admin #edit-save.button {
  background-color: #005ea2;
  border-radius: 2px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20 !important;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}

form#lab-test-profiles-admin #edit-cancel {
  background-color: #ffffff;
  border-radius: 2px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
}

form#lab-test-profiles-admin #edit-delete {
  background-color: #d83933;
  border-radius: 2px;
  border-color: #d83933 !important;
  padding: 12 20 12 20;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
