#block-gin-content {
  width: 688px;
  margin: auto;
}

#block-gin-content form .form-element {
  width: 648px;
  border: 1px solid #1b1b1b;
  border-radius: 0;
}

form#lab-test-profiles-admin.lab-test-profiles-admin {
  padding-top: 0px;
  padding-bottom: 3px;
}

#block-gin-content form h1 {
  margin-bottom: 45px;
}

.form-item:last-of-type {
  margin-bottom: 66px !important;
}
