#block-gin-content {
  width: 688px;
  margin: auto;
}

#block-gin-content form .form-element {
  width: 648px;
  border: 1px solid #1b1b1b;
  border-radius: 0;
}

#block-gin-content form .lab-form-header{
  display: flex;
  align-items: center;
  clear: both;
  margin-top: 40px;
}

#block-gin-content form .lab-form-header h2{
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  flex: 50%;
}

#block-gin-content form .lab-form-header h4{
font-size: 16px;
font-weight: 400;
line-height: 20px;
}

form#lab-test-methods-admin #edit-autoload-container-actions-update-profile.button {
  background-color: #ffffff;
  border-radius: 2px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
}

form#lab-test-methods-admin #edit-actions-save.button {
  background-color: #ffffff;
  border-radius: 2px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
}

form#lab-test-methods-admin #edit-actions-cancel{
  background-color: #ffffff;
  border-radius: 2px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
}

form#lab-test-methods-admin #edit-actions-delete {
  background-color: #d83933;
  border-radius: 2px;
  border-color: #d83933 !important;
  padding: 12 20 12 20;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
