input#edit-actions-add-input {
  background-color: #005ea2;
  border-radius: 4px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}

form#operation-form.operation-form input#edit-actions-save {
  background-color: #ffffff !important;
  border-radius: 4px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2 !important;
  font-weight: 600;
  font-size: 16px;
}

form#operation-form.operation-form input#edit-actions-save:hover {
  background-color: #005ea2 !important;
  border-radius: 4px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #ffffff !important;
  font-weight: 600;
  font-size: 16px;
}

#cost_rotation {
  display: flex;
  align-items: center;
}

#cost_rotation div[class*="field-cost"] {
  width: 30.2%;
  margin-right: 1.3%;
}

#cost_rotation div[class*="field-cost-type"] {
  width: 30.2%;
  margin-right: 18px;
}

form#operation-form input#edit-addcost.button {
  background-color: #ffffff;
  border-radius: 4px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #005ea2;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 48px;
}

form#operation-form input#edit-addcost:hover {
  background-color: #005ea2;
  border-radius: 4px;
  border-color: #005ea2 !important;
  padding: 12 20 12 20;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 48px;
}

#cost_rotation input[id*="actions-delete"] {
  background-color: #da3737;
  margin-top: -2px;
  border-radius: 4px;
  border-color: #da3737 !important;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}

#cost_sequence > div:last-of-type > div {
  margin-bottom: 10px !important;
}
#cost_sequence > div:last-of-type > input {
  margin-top: 26px !important;
  margin-bottom: 10px !important;
}

form#operation-form.operation-form {
  padding-top: 0px;
  padding-bottom: 3px;
}

.subform-title-container.title-spacer {
  margin-bottom: 28px;
}

.subform-title-container.subheader-spacer {
  margin-top: 104px;
  margin-bottom: 29px;
}
