#block-gin-content form input#edit-create-organization {
  display: block;
  margin-top: -22px;
}

#block-gin-content form #names-fieldset-wrapper {
  width: 648px;
}

#block-gin-content form .inline-components {
  float: left;
  width: 316px;
  margin-right: 8px;
  margin-bottom: 0px;
}

#block-gin-content form .inline-components-short {
  float: left;
  width: 205px;
  margin-right: 8px;
  margin-bottom: 0px;
}

#block-gin-content form .inline-components .js-form-item {
  margin-bottom: 0;
}

#block-gin-content form .inline-components-short .js-form-item {
  margin-bottom: 0;
}

#block-gin-content form .remove-button-container {
  display: inline-block;
  margin-top: 10px;
}

#block-gin-content form .clear-space {
  clear: both;
}

#block-gin-content form #addmore-button-container input {
  margin: 8px 0 0 0;
  background-color: #005ea2;
  color: #ffffff;
  border-color: #005ea2 !important;
  border-radius: 4px;
}

.form-boolean--type-checkbox:checked {
  background-color: #205493 !important;
}

form#project-create-form.project-create-form {
  padding-top: 0px;
  padding-bottom: 3px;
}

.form-checkboxes {
  max-height: 396px;
  overflow-y: overlay;
  border: 1px solid #1b1b1b;
  border-radius: 0;
  padding: 10px 0px 10px 16px;
}

.subform-title-container.awardee-info-spacing {
  margin-top: 105px;
  margin-bottom: 29px;
}

.form-checkboxes .form-type--checkbox {
  position: relative;
  top: 20px;
  bottom: 20px;
  margin-bottom: 10px !important;
}

div[id="names-fieldset-wrapper"] div:nth-last-child(3) .js-form-item,
div[id="names-fieldset-wrapper"] div:nth-last-child(4) .js-form-item,
div[id="names-fieldset-wrapper"] div:nth-last-child(5) .js-form-item {
  margin-bottom: 8px !important;
}

div[id="addmore-button-container"] {
  margin-bottom: 64px;
}
