div#block-gin-content {
    width: 688px;
    margin: auto;
}

#block-gin-content form .js-form-item{
	margin-bottom: 30px;
}

#block-gin-content form .fieldgroup .js-form-item{
	margin-bottom: 0.5em;
}

#block-gin-content form .form-element{
	width: 648px;
	border: 1px solid #1B1B1B;
    border-radius: 0;
}

#edit-resource-concern{
	max-height: 396px;
	max-width: 630px;
	overflow-y: overlay;
	border: 1px solid #1B1B1B;
    border-radius: 0;
	padding: 10px 0px 10px 16px;
}

#block-gin-content form #edit-resource-concerns--wrapper .fieldset__label{
	margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

/*Scrollbar CSS Start*/
/*===================*/
::-webkit-scrollbar {
	width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #DCDEE0;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #71767A;
}
/*Scrollbar CSS End*/
/*===================*/

#block-gin-content form .form-title{
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
}

#block-gin-content form .subform-title-container{
    display: flex;
    align-items: center;
	clear: both;
	margin-top: 40px;
}

#block-gin-content form .subform-title-container h2{
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
    flex: 50%;
}

#block-gin-content form .subform-title-container h4{
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

#block-gin-content form input#edit-create-organization{
	display: block;
	margin-top: -22px;
}

#block-gin-content form button{
	color: #005EA2;
    border: 2px solid #005EA2 !important;
}

#block-gin-content form #names-fieldset-wrapper{
	width: 648px;
}

#block-gin-content form .inline-components{
	float: left;
	width: 316px;
	margin-right: 8px;
	margin-bottom: 0px;
}

#block-gin-content form .inline-components-short{
	float: left;
	width: 205px;
	margin-right: 8px;
	margin-bottom: 0px;
}

#block-gin-content form .inline-components .js-form-item{
	margin-bottom: 0;
}

#block-gin-content form  .inline-components-short .js-form-item{
	margin-bottom: 0;
}

#block-gin-content form  .remove-button-container{
	display: inline-block;
	margin-top: 30px;
}

#block-gin-content form .remove-button-container input{
	margin-bottom: 0px;
	color: white;
	background-color: #d83933;
	border-color: #d83933 !important;
}

#block-gin-content form .remove-button-container input:hover{
	background-color: #b51d09;
	border-color: #b51d09 !important;
}

#block-gin-content form .clear-space{
	clear: both;
}

#block-gin-content form #addmore-button-container input{
	margin: 8px 0 0 0 ;
}

form#project-create-form #edit-actions-save.button {
	background-color: #ffffff;
	border-radius: 2px;
	border-color: #005ea2 !important;
	padding: 12 20 12 20;
	color: #005ea2;
	font-weight: 600;
	font-size: 16px;
  }

  form#project-create-form #edit-actions-cancel{
	background-color: #ffffff;
	border-radius: 2px;
	border-color: #005ea2 !important;
	padding: 12 20 12 20;
	color: #005ea2;
	font-weight: 600;
	font-size: 16px;
  }


