#block-gin-content form input#edit-create-organization {
  display: block;
  margin-top: -22px;
}

#block-gin-content form #names-fieldset-wrapper {
  width: 648px;
}

#block-gin-content form .inline-components {
  float: left;
  width: 316px;
  margin-right: 8px;
  margin-bottom: 0px;
}

#block-gin-content form .inline-components-short {
  float: left;
  width: 205px;
  margin-right: 8px;
  margin-bottom: 0px;
}

#block-gin-content form .inline-components .js-form-item {
  margin-bottom: 0;
}

#block-gin-content form .inline-components-short .js-form-item {
  margin-bottom: 0;
}

#block-gin-content form .remove-button-container {
  display: inline-block;
  margin-top: 30px;
}

#block-gin-content form .clear-space {
  clear: both;
}

#block-gin-content form #addmore-button-container input {
  margin: 8px 0 0 0;
  background-color: #ffffff;
  color: #005ea2;
  border-color: #005ea2 !important;
}

#block-gin-content form #addmore-button-container input:hover {
  background-color: #005ea2 !important;
  color: white !important;
  border-color: #005ea2 !important;
}

.form-boolean--type-checkbox:checked {
  background-color: #205493 !important;
}

fieldset#edit-field-resource-concerns--wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px 20px 16px;
  gap: 10px;
  width: auto;
  height: auto;
  left: 0.5px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #1b1b1b;
}
