#block-gin-content form .subform-title-container{
    display: flex;
    align-items: center;
	clear: both;
	margin-top: 40px;
}

#block-gin-content form .subform-title-container h2{
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
    flex: 50%;
}

#block-gin-content form .subform-title-container h4{
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

#block-gin-content form .form-title{
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
}

/*Scrollbar CSS Start*/
/*===================*/
::-webkit-scrollbar {
	width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #DCDEE0; 
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #71767A; 
}
/*Scrollbar CSS End*/
/*===================*/

#form-checkboxes {
	max-height: 396px;
	overflow-y: overlay;
	border: 1px solid #1B1B1B;
    border-radius: 0;
	padding: 10px 0px 10px 16px;
}