form#sample-collection-form #edit-add-point.button {
  background-color: #005ea2;
  border-radius: 4px;
  border-color: #005ea2 !important;
  margin-top: 4px !important;
  padding: 6 20 12 20;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}

form#sample-collection-form div.js-form-item {
  margin-bottom: 41px;
}

form#sample-collection-form div.subform-title-container {
  margin-top: 21px;
}

form#sample-collection-form div#subform2.subform-title-container {
  margin-top: 104px;
}

form#sample-collection-form button.ol-edit-polygon {
  display: none;
}

form#sample-collection-form button.ol-edit-line {
  display: none;
}

form#sample-collection-form button.ol-edit-circle {
  display: none;
}

form#sample-collection-form button.ol-edit-modify {
  display: none;
}

form#sample-collection-form.sample-collection-form {
  padding-top: 0px;
  padding-bottom: 3px;
}

#lat-long {
  display: flex;
  align-items: center;
}

.form-item--lat,
.form-item--lon {
  width: 39%;
  margin-right: 1.3%;
}

#lat-long {
  margin-bottom: 24px;
}

.subform-title-container.section1-subtitle-spacer {
  margin-top: 5px;
  margin-bottom: 33px;
}

.create-prompt-spacer {
  margin-top: 26px;
  margin-bottom: 21px;
}

.form-item.js-form-type-textarea {
  margin-top: 19px !important;
}
